<div class="about">
	<h2>¿Por qué existe Luaua?</h2>
	<p>Porque publicar cosas para vender rápidamente es imposible. Hay que rellenar formularios eternos, crear cuenta de usuario, y encima pagar comisiones si vendes. Todo esto en interfaces que muestran tantas cosas al mismo tiempo, que tu producto se pierde en un mar de llamadores visuales.</p>

	<h2>¿Qué me ofrece Luaua?</h2>
	<p>La posibilidad de publicar algo que quieras vender. En dos minutos. Sin crear cuentas de usuario. Y gratis. Nada más.</p>

	<h2>¿Tengo que pagar algo?</h2>
	<p>Nada. Nunca.</p>

	<h2>¿Cómo promociono lo que quiero vender?</h2>
	<p>Como quieras. Hacé un grafiti en tu cuadra con el link si querés. Pero no te olvides de mandarnos la foto así la hacemos cuadro.</p>

	<h2>¿Por qué solo puedo subir una sola imagen?</h2>
	<p>Porque permitiendo una sola imagen, nos garantizamos que le pongas huevo a la imagen que subas. Y no valen imágenes que no sean del producto real.</p>

	<h2>¿Va a haber mejoras?</h2>
	<p>La idea es que si, pero que las mismas sean siempre de acuerdo al feedback que den aquellos que usen Luaua para vender sus cosas.</p>
</div>